{% extends 'social/base_generic.html' %}
{% block content %}
<h1>{{ post.title }}</h1>
{% if post.image %}
<img src="{{ post.image.url }}">
{% endif %}
<p>{{ post.content }}</p>
{% if post.user == user %}
<a href="{% url 'social:post_update' post.pk %}"><button class="btn btn-link btn-xs">Edit</button></a>
<a href="{% url 'social:post_delete' post.pk %}"><button class="btn btn-link btn-xs">Delete</button></a>
{% endif %}
{% if user.is_authenticated %}
<button id="create_comment" class="btn btn-link">Reply?</button>
{% endif %}
<div id="comments"></div>
{% endblock %}
